.app {
  display: flex;
  text-align: center;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage {
  margin-top: 100px;
  color: white;
}

.main-wrapper {
  color: white;
  margin-top: 56px;
  display: flex;
  width: 100%;
}

.main-inner{
  background-color: orchid;
  flex: 3;
}

.calendar-wrapper {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sidebar {
  flex: 1;
}

.auth-wrapper {
  margin-top: 100px;
}

.mainpage {
  margin-top: 100px;
  color: white;
}

.logoutpage {
  margin-top: 100px;
  color: white;
}

.signup-login {
  font-size: 13px !important;
  padding-top: 10px !important;
  color: #7f7d7d !important;
  margin: 0 imp !important;
}

.rbc-event.plan {
  background-color: orange;
}

.rbc-event.plan.rbc-selected {
  background-color: orange;
  outline: none;
}

.rbc-event.workout {
  background-color: green;
}

.rbc-event.workout.rbc-selected {
  background-color: green;
  outline: none;
}

.rbc-day-bg.rbc-today {
  background-color: indigo;
}

.form-check-label {
  font-weight: normal;
}

.coacheslist {
  height: 75px;
  overflow: auto;
}